In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
df.drop(['RowNumber','CustomerId','Surname'], axis= 'columns', inplace=True)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [5]:
def print_unique_col_values(df):
    for column in df:
        if df[column].dtypes == 'object':
            print(f'{column}: {df[column].unique()}')

In [6]:
print_unique_col_values(df)

Geography: ['France' 'Spain' 'Germany']
Gender: ['Female' 'Male']

In [7]:
df1 = pd.get_dummies(data=df, columns=['Geography', 'Gender'])
df1.columns

Index(['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited', 'Geography_France',
       'Geography_Germany', 'Geography_Spain', 'Gender_Female', 'Gender_Male'],
      dtype='object')

In [8]:
print_unique_col_values(df1)

In [9]:
df1.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1,0

In [10]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [11]:
col_to_scale=['CreditScore', 'Age', 'Tenure','Balance', 'NumOfProducts', 'EstimatedSalary']

In [12]:
df1[col_to_scale] = scaler.fit_transform(df1[col_to_scale])

In [13]:
df1.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,0.538,0.324324,0.2,0.000000,0.000000,1,1,0.506735,1,1,0,0,1,0
1,0.516,0.310811,0.1,0.334031,0.000000,0,1,0.562709,0,0,0,1,1,0
2,0.304,0.324324,0.8,0.636357,0.666667,1,0,0.569654,1,1,0,0,1,0
3,0.698,0.283784,0.1,0.000000,0.333333,0,0,0.469120,0,1,0,0,1,0
4,1.000,0.337838,0.2,0.500246,0.000000,1,1,0.395400,0,0,0,1,1,0

In [14]:
X = df1.drop('Exited',axis='columns')
y = df1.Exited

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10, stratify=y)

In [16]:
X_train.shape

(8000, 13)

In [17]:
X_test.shape

(2000, 13)

In [18]:
import tensorflow as tf
from tensorflow import keras
from sklearn.metrics import confusion_matrix, classification_report

In [19]:
def ANN(X_train, y_train, X_test, y_test, loss):
    model = keras.Sequential([
        keras.layers.Dense(13, input_dim=13, activation='relu'),
        keras.layers.Dense(10, activation='relu'),
        keras.layers.Dense(1, activation='sigmoid')
    ])

    model.compile(optimizer='adam', loss=loss, metrics=['accuracy'])

    
    model.fit(X_train, y_train, epochs=100)

    print(model.evaluate(X_test, y_test))

    y_preds = model.predict(X_test)
    y_preds = np.round(y_preds)

    print("Classification Report: \n", classification_report(y_test, y_preds))

    return y_preds

In [20]:
y_preds = ANN(X_train, y_train, X_test, y_test, 'binary_crossentropy')

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 0.5277 - accuracy: 0.7720
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4689 - accuracy: 0.7962
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4522 - accuracy: 0.8016
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4398 - accuracy: 0.8098
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4339 - accuracy: 0.8110
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4303 - accuracy: 0.8120
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4286 - accuracy: 0.8150
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4261 - accuracy: 0.8151
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4249 - accuracy: 0.8163
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4234 - accuracy: 0.8179
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4213 - accuracy: 0.8199
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4185 - accuracy: 0.8220
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4168 - accuracy: 0.8227
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4146 - accuracy: 0.8245
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4121 - accuracy: 0.8273
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4098 - accuracy: 0.8286
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4078 - accuracy: 0.8290
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4030 - accuracy: 0.8317
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3985 - accuracy: 0.8347
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3926 - accuracy: 0.8384
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3868 - accuracy: 0.8425
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3806 - accuracy: 0.8451
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3757 - accuracy: 0.8471
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3701 - accuracy: 0.8485
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3658 - accuracy: 0.8528
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3614 - accuracy: 0.8547
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3592 - accuracy: 0.8566
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3570 - accuracy: 0.8555
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3549 - accuracy: 0.8583
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3533 - accuracy: 0.8561
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3523 - accuracy: 0.8583
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3508 - accuracy: 0.8587
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3499 - accuracy: 0.8591
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3489 - accuracy: 0.8589
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3482 - accuracy: 0.8590
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3483 - accuracy: 0.8594
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3488 - accuracy: 0.8600
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3470 - accuracy: 0.8566
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3459 - accuracy: 0.8600
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3469 - accuracy: 0.8574
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3460 - accuracy: 0.8591
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3451 - accuracy: 0.8596
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3446 - accuracy: 0.8589
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3439 - accuracy: 0.8608
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3439 - accuracy: 0.8596
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3445 - accuracy: 0.8610
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3427 - accuracy: 0.8595
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3435 - accuracy: 0.8589
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3423 - accuracy: 0.8591
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3427 - accuracy: 0.8601
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3439 - accuracy: 0.8596
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3418 - accuracy: 0.8629
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3418 - accuracy: 0.8595
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3409 - accuracy: 0.8584
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3406 - accuracy: 0.8599
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3419 - accuracy: 0.8616
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3411 - accuracy: 0.8597
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3407 - accuracy: 0.8609
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3402 - accuracy: 0.8612
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3397 - accuracy: 0.8605
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3402 - accuracy: 0.8591
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8604
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3396 - accuracy: 0.8615
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3393 - accuracy: 0.8616
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3388 - accuracy: 0.8612
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3388 - accuracy: 0.8609
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3389 - accuracy: 0.8618
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3383 - accuracy: 0.8599
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8618
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3395 - accuracy: 0.8621
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3382 - accuracy: 0.8621
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3380 - accuracy: 0.8611
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3383 - accuracy: 0.8602
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3385 - accuracy: 0.8612
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3374 - accuracy: 0.8614
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3374 - accuracy: 0.8630
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3370 - accuracy: 0.8637
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3370 - accuracy: 0.8621
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3370 - accuracy: 0.8631
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3374 - accuracy: 0.8627
Epoch 81/100

250/250 [==============================] - 0s 1ms/step - loss: 0.3367 - accuracy: 0.8622
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3366 - accuracy: 0.8630
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3365 - accuracy: 0.8630
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3357 - accuracy: 0.8631
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8621
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3363 - accuracy: 0.8608
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8644
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3367 - accuracy: 0.8621
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3360 - accuracy: 0.8620
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3345 - accuracy: 0.8626
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8627
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8622
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3349 - accuracy: 0.8608
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3342 - accuracy: 0.8637
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3343 - accuracy: 0.8625
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3345 - accuracy: 0.8620
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3337 - accuracy: 0.8640
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3335 - accuracy: 0.8636
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8627
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3334 - accuracy: 0.8619
63/63 [==============================] - 0s 1ms/step - loss: 0.3339 - accuracy: 0.8650
[0.33394548296928406, 0.8650000095367432]
63/63 [==============================] - 0s 965us/step
Classification Report:
               precision    recall  f1-score   support

           0       0.87      0.97      0.92      1593
           1       0.80      0.45      0.58       407

    accuracy                           0.86      2000
   macro avg       0.84      0.71      0.75      2000
weighted avg       0.86      0.86      0.85      2000

In [23]:
from sklearn.model_selection import train_test_split
X = df_test_under.drop('Exited', axis='columns')
y = df_test_under['Exited']

X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=15, stratify=y)

In [24]:
y_train.value_counts()

1    1630
0    1629
Name: Exited, dtype: int64

In [25]:
y_preds = ANN(X_train, y_train, X_test, y_test, 'binary_crossentropy')

Epoch 1/100
102/102 [==============================] - 1s 1ms/step - loss: 0.6860 - accuracy: 0.5545
Epoch 2/100
102/102 [==============================] - 0s 1ms/step - loss: 0.6611 - accuracy: 0.6324
Epoch 3/100
102/102 [==============================] - 0s 1ms/step - loss: 0.6365 - accuracy: 0.6554
Epoch 4/100
102/102 [==============================] - 0s 2ms/step - loss: 0.6231 - accuracy: 0.6600
Epoch 5/100
102/102 [==============================] - 0s 1ms/step - loss: 0.6146 - accuracy: 0.6772
Epoch 6/100
102/102 [==============================] - 0s 2ms/step - loss: 0.6082 - accuracy: 0.6787
Epoch 7/100
102/102 [==============================] - 0s 1ms/step - loss: 0.6025 - accuracy: 0.6803
Epoch 8/100
102/102 [==============================] - 0s 1ms/step - loss: 0.5942 - accuracy: 0.6818
Epoch 9/100
102/102 [==============================] - 0s 1ms/step - loss: 0.5892 - accuracy: 0.6886
Epoch 10/100
102/102 [==============================] - 0s 1ms/step - loss: 0.5822 - accuracy: 0.6932
Epoch 11/100
102/102 [==============================] - 0s 1ms/step - loss: 0.5761 - accuracy: 0.6968
Epoch 12/100
102/102 [==============================] - 0s 1ms/step - loss: 0.5709 - accuracy: 0.7017
Epoch 13/100
102/102 [==============================] - 0s 2ms/step - loss: 0.5690 - accuracy: 0.7088
Epoch 14/100
102/102 [==============================] - 0s 1ms/step - loss: 0.5622 - accuracy: 0.7079
Epoch 15/100
102/102 [==============================] - 0s 1ms/step - loss: 0.5594 - accuracy: 0.7125
Epoch 16/100
102/102 [==============================] - 0s 1ms/step - loss: 0.5543 - accuracy: 0.7110
Epoch 17/100
102/102 [==============================] - 0s 1ms/step - loss: 0.5514 - accuracy: 0.7159
Epoch 18/100
102/102 [==============================] - 0s 1ms/step - loss: 0.5458 - accuracy: 0.7245
Epoch 19/100
102/102 [==============================] - 0s 2ms/step - loss: 0.5449 - accuracy: 0.7174
Epoch 20/100
102/102 [==============================] - 0s 1ms/step - loss: 0.5406 - accuracy: 0.7245
Epoch 21/100
102/102 [==============================] - 0s 1ms/step - loss: 0.5393 - accuracy: 0.7208
Epoch 22/100
102/102 [==============================] - 0s 1ms/step - loss: 0.5361 - accuracy: 0.7229
Epoch 23/100
102/102 [==============================] - 0s 1ms/step - loss: 0.5338 - accuracy: 0.7266
Epoch 24/100
102/102 [==============================] - 0s 2ms/step - loss: 0.5304 - accuracy: 0.7324
Epoch 25/100
102/102 [==============================] - 0s 2ms/step - loss: 0.5317 - accuracy: 0.7309
Epoch 26/100
102/102 [==============================] - 0s 2ms/step - loss: 0.5265 - accuracy: 0.7306
Epoch 27/100
102/102 [==============================] - 0s 2ms/step - loss: 0.5237 - accuracy: 0.7288
Epoch 28/100
102/102 [==============================] - 0s 1ms/step - loss: 0.5211 - accuracy: 0.7349
Epoch 29/100
102/102 [==============================] - 0s 1ms/step - loss: 0.5196 - accuracy: 0.7373
Epoch 30/100
102/102 [==============================] - 0s 2ms/step - loss: 0.5166 - accuracy: 0.7349
Epoch 31/100
102/102 [==============================] - 0s 1ms/step - loss: 0.5132 - accuracy: 0.7416
Epoch 32/100
102/102 [==============================] - 0s 1ms/step - loss: 0.5094 - accuracy: 0.7410
Epoch 33/100
102/102 [==============================] - 0s 2ms/step - loss: 0.5079 - accuracy: 0.7438
Epoch 34/100
102/102 [==============================] - 0s 2ms/step - loss: 0.5055 - accuracy: 0.7416
Epoch 35/100
102/102 [==============================] - 0s 2ms/step - loss: 0.5014 - accuracy: 0.7487
Epoch 36/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4997 - accuracy: 0.7530
Epoch 37/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4965 - accuracy: 0.7533
Epoch 38/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4943 - accuracy: 0.7554
Epoch 39/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4913 - accuracy: 0.7579
Epoch 40/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4907 - accuracy: 0.7582
Epoch 41/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4882 - accuracy: 0.7597
Epoch 42/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4863 - accuracy: 0.7604
Epoch 43/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4847 - accuracy: 0.7619
Epoch 44/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4817 - accuracy: 0.7619
Epoch 45/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4833 - accuracy: 0.7656
Epoch 46/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4787 - accuracy: 0.7686
Epoch 47/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4763 - accuracy: 0.7659
Epoch 48/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4766 - accuracy: 0.7671
Epoch 49/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4753 - accuracy: 0.7671
Epoch 50/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4747 - accuracy: 0.7680
Epoch 51/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4742 - accuracy: 0.7729
Epoch 52/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4725 - accuracy: 0.7720
Epoch 53/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4705 - accuracy: 0.7708
Epoch 54/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4708 - accuracy: 0.7680
Epoch 55/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4683 - accuracy: 0.7748
Epoch 56/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4698 - accuracy: 0.7754
Epoch 57/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4667 - accuracy: 0.7739
Epoch 58/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4659 - accuracy: 0.7689
Epoch 59/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4657 - accuracy: 0.7757
Epoch 60/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4649 - accuracy: 0.7739
Epoch 61/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4647 - accuracy: 0.7754
Epoch 62/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4624 - accuracy: 0.7797
Epoch 63/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4614 - accuracy: 0.7772
Epoch 64/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4641 - accuracy: 0.7751
Epoch 65/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4628 - accuracy: 0.7729
Epoch 66/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4602 - accuracy: 0.7824
Epoch 67/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4586 - accuracy: 0.7809
Epoch 68/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4599 - accuracy: 0.7788
Epoch 69/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4606 - accuracy: 0.7788
Epoch 70/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4573 - accuracy: 0.7803
Epoch 71/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4579 - accuracy: 0.7828
Epoch 72/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4571 - accuracy: 0.7831
Epoch 73/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4542 - accuracy: 0.7824
Epoch 74/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4549 - accuracy: 0.7834
Epoch 75/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4547 - accuracy: 0.7828
Epoch 76/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4560 - accuracy: 0.7821
Epoch 77/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4550 - accuracy: 0.7846
Epoch 78/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4530 - accuracy: 0.7852
Epoch 79/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4523 - accuracy: 0.7867
Epoch 80/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4537 - accuracy: 0.7828
Epoch 81/100

102/102 [==============================] - 0s 1ms/step - loss: 0.4518 - accuracy: 0.7828
Epoch 82/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4529 - accuracy: 0.7818
Epoch 83/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4532 - accuracy: 0.7846
Epoch 84/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4544 - accuracy: 0.7806
Epoch 85/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4519 - accuracy: 0.7828
Epoch 86/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4516 - accuracy: 0.7831
Epoch 87/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4532 - accuracy: 0.7824
Epoch 88/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4485 - accuracy: 0.7852
Epoch 89/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4497 - accuracy: 0.7852
Epoch 90/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4515 - accuracy: 0.7846
Epoch 91/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4480 - accuracy: 0.7855
Epoch 92/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4479 - accuracy: 0.7874
Epoch 93/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4480 - accuracy: 0.7852
Epoch 94/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4481 - accuracy: 0.7871
Epoch 95/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4489 - accuracy: 0.7910
Epoch 96/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4487 - accuracy: 0.7867
Epoch 97/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4456 - accuracy: 0.7917
Epoch 98/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4473 - accuracy: 0.7883
Epoch 99/100
102/102 [==============================] - 0s 2ms/step - loss: 0.4462 - accuracy: 0.7883
Epoch 100/100
102/102 [==============================] - 0s 1ms/step - loss: 0.4462 - accuracy: 0.7874
26/26 [==============================] - 0s 1ms/step - loss: 0.4843 - accuracy: 0.7644
[0.48425254225730896, 0.7644171714782715]
26/26 [==============================] - 0s 1ms/step
Classification Report:
               precision    recall  f1-score   support

           0       0.81      0.69      0.75       408
           1       0.73      0.84      0.78       407

    accuracy                           0.76       815
   macro avg       0.77      0.76      0.76       815
weighted avg       0.77      0.76      0.76       815

In [30]:
y_pred_final = y_preds.copy()
for i in range(len(y_preds)):
    n_ones = y_pred_final[i] + y_pred_final[i] + y_pred_final[i]
    if n_ones > 1:
        y_pred_final[i] = 1
    else:
        y_pred_final[i] = 0

In [31]:
cl_rep = classification_report(y_test, y_pred_final)
print(cl_rep)

              precision    recall  f1-score   support

           0       0.81      0.69      0.75       408
           1       0.73      0.84      0.78       407

    accuracy                           0.76       815
   macro avg       0.77      0.76      0.76       815
weighted avg       0.77      0.76      0.76       815